body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #ededed;
}

.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.white {
  color: white;
}

.white:hover {
  color: white;
  text-decoration: none;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.header-nav {
  background-color: #181818;
  height: 120px;
  padding-top: 20px;
}

.btn {
  background-color: #9aad83;
  color: white;
}

.btn:hover {
  background-color: #b7d197;
  color: white;
}

.hero-image {
  background-image: url('./components/data-components/images/colorado-hero1.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-top: 90px;
}

.hero-text {
  color: #b3b3b3;
  font-size: 40px;
  font-family: 'Shrikhand', cursive;
  opacity: 0.5
}

.hero-subtext {
  color: #b3b3b3;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  opacity: 0.5
}

.brianna {
  background-image: url('./components/data-components/images/brigreene.jpg');
  background-position: center;
  background-size: cover;
  height: 250px;
}

.danah {
  background-image: url('./components/data-components/images/danaholivetree.jpg');
  background-position: center;
  background-size: cover;
  height: 250px;
}

.adam {
  background-image: url('./components/data-components/images/adamneef.jpg');
  background-position: center;
  background-size: cover;
  height: 250px;
}

.pie-example {
  background-image: url('./components/data-components/images/top-twitter-trends.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.map-example {
  background-image: url('./components/data-components/images/map04.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}

.bubble-example {
  background-image: url('./components/data-components/images/bubble-holder.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}

.info-section {
  height: 600px;
  padding: 50px;
}

.tweet-section {
  height: 650px;
  padding: 50px;
  background-color: white;
}

.about-us {
  background-color: #9aad83;
  height: 800px;
  padding: 50px;
}

.about-us-card {
  width: 30%;
}

.email-link {
  color: #181818;
}

.name-title {
  font-family: 'Shrikhand', cursive;
  font-size: 35px;
}

.section-title {
  font-family: 'Shrikhand', cursive;
  color: #9aad83;
}

.section-title-about {
  font-family: 'Shrikhand', cursive;
  color: #ededed;
}

.section-title-data {
  color: #282828;
  font-family: 'Shrikhand', cursive;
}

.borderbox {
  border: black solid 1px;
}

.logo-text {
  color: white;
  font-size: 60px;
  font-family: 'Shrikhand', cursive;
  margin-top: 10px;
}

.logo-sub-text {
  color: #b3b3b3;
  font-size: 18px;
}

.toolbar {
  background-color: #282828;
  height: 150px;
  padding: 10px;
}

.search-text {
  color: #9b9b9b;
  margin: 10px;
}

.search-form {
  padding-top: 10px;
  padding-bottom: 20px;
}

.search-bar {
  width: 80%;
}

#search-button {
  margin-left: 20px;
  width: 150px;
}

.btn-recent {
  margin-right: 20px;
}

.data-container {
  margin-top: 20px;
  margin-bottom: 50px;
  height: auto;
  width: auto;
}

.footer {
  background-color: lightgrey;
  height: 150px;
  color: white;
  padding-top: 20px;
}

.footer-title {
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
}

.data3-box {
  height: 100px;
}

.data-title {
 font-family: 'Open Sans', sans-serif;
 color: #181818;
}

.data-box {
  margin-top: 50px;
}

.data-image {
  min-height: 500px;
  min-width: 500px;
  max-height: 700px;
}

.dropdown-item {
  color: orange;
  text-decoration: underline;
  font-weight: bold;
}

.card {
  margin-top: 30px;
  padding: 20px;
  color: #282828;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.main-card {
  background-color: #b3b3b3;
  margin-top: 50px;
  margin-bottom: 20px;
}

.color-key-block {
  height: 20px;
  width: 20px;
  border: black solid 1px;
  margin-right: 10px;
}

.key-group {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.key-1 {
  background-color: #98abc5;
}

.key-2 {
  background-color: #8a89a6;
}

.key-3 {
  background-color: #7b6888;
}

.key-4 {
  background-color: #6b486b;
}

.key-5 {
  background-color: #a05d56;
}

.key-6 {
  background-color: #d0743c;
}

.key-7 {
  background-color: #ff8c00;
}

.key-8 {
  background-color: #ffbf00;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.arc path :hover {
  background-color: green;
}
